@font-face {
  font-family: 'Montserrat regular';
  src: url(./fonts/Montserrat-Regular.ttf);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat regular';
  font-size: 18px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input {
  font-family: 'Montserrat regular';
  font-size: 18px;
}

button {
  font-family: 'Montserrat regular';
  font-size: 18px;
}